[submodule "logstash-filter-apstate"]
    path = logstash-filter-apstate
    url = https://github.com/redBorder/logstash-filter-apstate.git
[submodule "logstash-filter-bulkstats"]
    path = logstash-filter-bulkstats
    url = https://github.com/redBorder/logstash-filter-bulkstats.git
[submodule "logstash-filter-intrusion"]
    path = logstash-filter-intrusion
    url = https://github.com/redBorder/logstash-filter-intrusion.git
[submodule "logstash-filter-location"]
    path = logstash-filter-location
    url = https://github.com/redBorder/logstash-filter-location.git
[submodule "logstash-filter-macscrambling"]
    path = logstash-filter-macscrambling
    url = https://github.com/redBorder/logstash-filter-macscrambling.git
[submodule "logstash-filter-macvendorsenrich"]
    path = logstash-filter-macvendorsenrich
    url = https://github.com/redBorder/logstash-filter-macvendorsenrich.git
[submodule "logstash-filter-meraki"]
    path = logstash-filter-meraki
    url = https://github.com/redBorder/logstash-filter-meraki.git
[submodule "logstash-filter-mobility"]
    path = logstash-filter-mobility
    url = https://github.com/redBorder/logstash-filter-mobility.git
[submodule "logstash-filter-netflowenrich"]
    path = logstash-filter-netflowenrich
    url = https://github.com/redBorder/logstash-filter-netflowenrich.git
[submodule "logstash-filter-nmsp"]
    path = logstash-filter-nmsp
    url = https://github.com/redBorder/logstash-filter-nmsp.git
[submodule "logstash-filter-radius"]
    path = logstash-filter-radius
    url = https://github.com/redBorder/logstash-filter-radius.git
[submodule "logstash-input-rbwindow"]
    path = logstash-input-rbwindow
    url = https://github.com/redBorder/logstash-input-rbwindow.git
[submodule "logstash-input-redfish"]
    path = logstash-input-redfish
    url = https://github.com/redBorder/logstash-input-redfish.git
[submodule "logstash-filter-incident-enrichment"]
    path = logstash-filter-incident-enrichment
    url = https://github.com/redBorder/logstash-filter-incident-enrichment.git
[submodule "logstash-filter-threat-intelligence"]
	path = logstash-filter-threat-intelligence
	url = https://github.com/redBorder/logstash-filter-threat-intelligence.git
[submodule "logstash-filter-druid-metrics"]
	path = logstash-filter-druid-metrics
	url = https://github.com/redBorder/logstash-filter-druid-metrics.git
[submodule "logstash-filter-postgrescve"]
	path = logstash-filter-postgrescve
	url = https://github.com/redBorder/logstash-filter-postgrescve.git
[submodule "logstash-filter-clamscan"]
	path = logstash-filter-clamscan
	url = git@github.com:redBorder/logstash-filter-clamscan.git
[submodule "logstash-filter-aerospike-malware-score"]
	path = logstash-filter-aerospike-malware-score
	url = git@github.com:redBorder/logstash-filter-aerospike-malware-score.git
